/* Banner */
#banner {
    position: absolute;
    width: 100%;
    height: 13vh;
    object-fit: cover;
    object-position: 100% 22%;
    -webkit-filter: brightness();
    filter: brightness(0.7);
}

#logo {
    position: absolute;
    display: flex;
    justify-content: left;
    left: 3em;
    top: 0.6em;
    height: 6.7em;
}