* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

:root {
    --gradient: linear-gradient(
        85deg, 
        rgb(255, 196, 232),
        rgb(255, 229, 187),
        rgb(211, 227, 255),
        rgb(197, 255, 172));
}

@keyframes animatebackground {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

body {
    background-image: var(--gradient);
    background-size: 300%;
    background-position: center;
    height: 100vh;
    width: 100%;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-name: animatebackground;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

ion-icon {
    font-size: 1.3em;
}

.nav {
    font-family: 'Public Sans', sans-serif;
    position: absolute;
    display: flex;
    justify-content: right;
    right: 1em;
    top: 2.1em;
    color: rgb(236, 239, 244);
}

.nav ion-icon {
    transform: translateY(15%);
}

.nav li {
    list-style: none;
    display: inline-block;
    margin: 1em 0.2em;
}

.nav span {
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.8em;
    transition: 0.3s all ease;
}

.nav span:hover, .nav span:active {
    background-color: rgba(142, 166, 212, 0.45);
}

.nav ul li a {
    color: rgb(236, 239, 244);
    text-decoration: none;
    font-size: 1.35em;
}

/* Selecting a unit */
#select-label {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-family: 'Sen', sans-serif;
    letter-spacing: -0.08em;
    transition: 0.3s all ease;
    color: rgb(29, 40, 58);
}

#select-label:hover {
    font-size: larger;
    color: rgb(83, 114, 170);
}

.unit-select {
    display: flex;
    justify-content: center;
    font-size: 5em;
    text-align: center;
    padding-top: 1.5em;
}

.group-select, .call-select {
    display: none;
    justify-content: center;
    font-size: 5em;
    text-align: center;
    padding-top: 1.5em;
}

.label-logo {
    height: 1em;
    max-width: 50%;
    padding-top: 0.8em;
    margin: auto 0.6em;
}

.group-logo {
    height: 1.4em;
    max-width: 50%;
    margin: auto 0.6em;
    transform: translateY(0.2em);
}

.label-grid-row {
    display: block;
}

.label-grid-column img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 4.6em;
    border-radius: 0.9em;
    transition: 0.3s all ease;
}

.label-grid-column img:hover {
    width: 5em;
    border-radius: 0.3em;
    box-shadow: 0.08em 0.08em 0.02em rgba(63, 67, 72, 0.2);
}

.label-grid-column tr label {
    font-family: 'Sen', sans-serif;
    letter-spacing: -0.08em;
    font-size: 0.6em;
    font-weight: bold;
    color: rgb(29, 40, 58);
    text-align: center;
}

.call-grid-column img {
    margin-top: 1.2em;
    vertical-align: middle;
    height: 4.2em;
    width: 6em;
    object-fit: cover;
    border-radius: 0.2em;
    transition: 0.3s all ease;
}

.video-label {
    display: block;
    font-family: 'Public-Sans', sans-serif;
    letter-spacing: -0.08em;
    font-size: 0.3em;
    font-weight: bold;
    color: rgb(29, 40, 58);
    text-align: center;
    margin: 0.3em auto;
}
