* {
    margin: 0;
    padding: 0;
}

/* Linear gradient background animation */
:root {
    --gradient: linear-gradient(
        85deg, 
        rgb(255, 196, 232),
        rgb(255, 229, 187),
        rgb(211, 227, 255),
        rgb(197, 255, 172));
}

/* Background animation */
/* Off to preserve framerate */
@keyframes animatebackground {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

body {
    background-image: var(--gradient);
    background-size: 300%;
    background-position: center;
    height: 100vh;
    width: 100%;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-name: animatebackground;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

ion-icon {
    font-size: 1.3em;
}

/* Navigation */
.nav {
    font-family: 'Public Sans', sans-serif;
    position: absolute;
    display: flex;
    justify-content: right;
    right: 1em;
    top: 2.1em;
    color: rgb(236, 239, 244);
}

.nav ion-icon {
    transform: translateY(15%);
}

.nav li {
    list-style: none;
    display: inline-block;
    margin: 1em 0.2em;
}

.nav span {
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.8em;
    transition: 0.3s all ease;
}

.nav span:hover, .nav span:active {
    background-color: rgba(142, 166, 212, 0.45);
}

.nav ul li a {
    color: rgb(236, 239, 244);
    text-decoration: none;
    font-size: 1.35em;
}

.info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 12%;
    margin-bottom: 10px;
}

.fav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav {
    width: 15em;
    max-width: 16em;
    height: 15em;
    margin-right: 0.2em; 
    border-radius: 0.3em;
    transition: 0.3s all ease;
}

.fav:hover {
    height: 16em;
    width: 16em;
}

.fav:last-child {
    margin-right: 0;
}
  
#profile-pic {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

hr {
    height: 0.09em;
    width: 50em;
    margin: 1em auto;
    background-color: rgb(29, 40, 58);
    border: none;
}

#fav-text {
    font-family: 'Sen', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgb(29, 40, 58);
    text-align: center;
    text-transform: uppercase;
    margin-left: -30%;
    margin-bottom: 0.3em;
    letter-spacing: -0.08em;
}

#user-name {
    color: rgb(29, 40, 58);
    font-family: 'Sen', sans-serif;
    font-weight: bold; 
    font-size: 2.1em;
    margin-top: 5px;
    letter-spacing: -0.08em;
}

#user-info {
    display: flex;
    color: rgb(29, 40, 58);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

#user-tag {
    display: block;
    margin-top: 0.2em;
    font-family: 'Sen', sans-serif;
    font-size: 1.3em;
    letter-spacing: -0.08em;
}

#user-bio {
    margin-top: 3.2em;
    font-family: 'Public-Sans', sans-serif;
    font-weight: bold;
}

.edit-profile-container {
    position: block;
    margin: 0.8em 0.1em;
}

.edit-profile-button {
    padding: 0.5em 0.7em;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: rgb(142, 166, 212);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.3s all ease;
}
.edit-profile-button:hover {
    background-color:rgb(87, 113, 160);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 9999; /* Make sure the overlay appears above other elements */
    display: none; /* Initially hide the overlay */
  }
  
  .artist-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .artist {
    margin: 10px;
    cursor: pointer;
  }
  
  .artist-image {
    width: 10%;
    height: 10%;
  }
  
  .artist-name {
    margin-top: 10px;
    text-align: center;
  }
  
  .artist:hover .remove-overlay {
    display: block;
  }
  
  .favorite-image {
    width: 10%;
    height: 10%;
  }
  
  /* Styles for artist containers */
  .artist-container {
    display: inline-block;
    width: 25%; /* Adjust this value to control the width of each container */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .artist-image {
    width: 50%;
    height: auto;
  }
  
  .artist-name {
    text-align: center;
  }
  
  /* Styles for favorite elements */
  .fav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%; /* Adjust this value to control the width of each favorite */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .fav-image {
    width: 80%;
    height: auto;
  }
  
  .remove-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles for artist and favorite rows */
  .row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust this value to control the spacing between rows */
  }
  
  .save-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-fav-image {
    width: 100%;
    height: auto;
  }
  
  .add-fav-image:hover {
    opacity: 0.7;
  }
  
  /* Additional styles */
  .no-favorites-message {
    text-align: center;
    margin-top: 10px;
  }
  
  .change-favorites-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }